/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black min-h-screen
}

mark {
    @apply shadow-2xl bg-blue-300/40 text-white rounded-sm my-1
}

.resizer {
    @apply w-1/3 lg:w-2/5 sm:focus:w-fit
}



body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

